<h1>Cozinhas</h1>

<% @cuisine.errors.full_messages.each do |message| %>
  <ul>
    <li> <%= message %> </li>
  </ul>
<% end %>

<%= form_for @cuisine do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
